{% extend "base.html" %}
{%block start%}

    <a href="/contact/">
        contact
    </a>
    <a href="/about/">
        about
    </a>

    <table class="container">
        <tr>
            <th>S.No.</th>
            <th>name</th>
            <th>age</th>
            <th>can vote</th>
        </tr>

        {%for people in peoples%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td>{% if people.age  >= 18%}
                yes
                {%else%}
                no
                {%endif%}

            </td>
        </tr>
        {%endfor%}

    </table>
    <!-- <p>
        {{text|truncatechars:80}}
    </p> -->
    <p>
        {%if "cucumber" in vegetables%}
            yes available
        {%elif "tomato" in vegetables%}
            tomatino
        {%else%}
            not available
        {%endif%}
    </p>

{%endblock%}